In this file I will clean the sleep data that I have acquired from the sleepcycle app

In [92]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
import numpy as np
import math


# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
df = pd.read_csv("raw_sleepdata.csv", delimiter=';') 

# Preview the first 5 lines of the loaded data 
df.head()

,Start,End,Sleep quality,Time in bed,Wake up,Sleep Notes,Heart rate,Activity (steps)
0,2017-11-27 23:11:00,2017-11-28 06:09:09,62%,6:58,NaN,NaN,0,1564
1,2017-11-29 00:41:04,2017-11-29 07:09:51,59%,6:28,NaN,Aerial:Worked out,0,8144
2,2017-11-29 23:53:11,2017-11-30 07:27:05,91%,7:33,NaN,NaN,0,6707
3,2017-11-30 23:07:29,2017-12-01 05:58:18,79%,6:50,NaN,NaN,0,4778
4,2017-12-01 23:19:21,2017-12-02 05:58:20,77%,6:38,NaN,Pole fitness:Worked out,0,7111

# Adding a new column

I want to add a new column with time in minutes

In [93]:
df['Time in bed']=df['Time in bed'].str.replace(':','.')

df=df.astype({'Time in bed' : float})
df['Time in bed in minutes']=np.floor(df['Time in bed'])*60+(df['Time in bed']-np.floor(df['Time in bed']))*100

In [94]:
df.head()

,Start,End,Sleep quality,Time in bed,Wake up,Sleep Notes,Heart rate,Activity (steps),Time in bed in minutes
0,2017-11-27 23:11:00,2017-11-28 06:09:09,62%,6.58,NaN,NaN,0,1564,418.0
1,2017-11-29 00:41:04,2017-11-29 07:09:51,59%,6.28,NaN,Aerial:Worked out,0,8144,388.0
2,2017-11-29 23:53:11,2017-11-30 07:27:05,91%,7.33,NaN,NaN,0,6707,453.0
3,2017-11-30 23:07:29,2017-12-01 05:58:18,79%,6.50,NaN,NaN,0,4778,410.0
4,2017-12-01 23:19:21,2017-12-02 05:58:20,77%,6.38,NaN,Pole fitness:Worked out,0,7111,398.0

I can now drop column 'Time in bed'

In [95]:
df=df.drop(['Time in bed'], axis =1)
df.head()

,Start,End,Sleep quality,Wake up,Sleep Notes,Heart rate,Activity (steps),Time in bed in minutes
0,2017-11-27 23:11:00,2017-11-28 06:09:09,62%,NaN,NaN,0,1564,418.0
1,2017-11-29 00:41:04,2017-11-29 07:09:51,59%,NaN,Aerial:Worked out,0,8144,388.0
2,2017-11-29 23:53:11,2017-11-30 07:27:05,91%,NaN,NaN,0,6707,453.0
3,2017-11-30 23:07:29,2017-12-01 05:58:18,79%,NaN,NaN,0,4778,410.0
4,2017-12-01 23:19:21,2017-12-02 05:58:20,77%,NaN,Pole fitness:Worked out,0,7111,398.0

I also want to set up the start time so that it is not condensed in 'Start' column. As well as the wake up and bed time

In [96]:
df['Day']=(df['Start']).str[8:10]
df['Month']=(df['Start']).str[5:7]
df['Year']=(df['Start']).str[0:4]
df['Date']=(df['Start']).str[0:10]

df['Bedtime']=(df['Start']).str[11:16]
df['Woke up']=(df['End']).str[11:16]

In [97]:
df['Date'] = pd.to_datetime(df['Date'])
df.head()

,Start,End,Sleep quality,Wake up,Sleep Notes,Heart rate,Activity (steps),Time in bed in minutes,Day,Month,Year,Date,Bedtime,Woke up
0,2017-11-27 23:11:00,2017-11-28 06:09:09,62%,NaN,NaN,0,1564,418.0,27,11,2017,2017-11-27,23:11,06:09
1,2017-11-29 00:41:04,2017-11-29 07:09:51,59%,NaN,Aerial:Worked out,0,8144,388.0,29,11,2017,2017-11-29,00:41,07:09
2,2017-11-29 23:53:11,2017-11-30 07:27:05,91%,NaN,NaN,0,6707,453.0,29,11,2017,2017-11-29,23:53,07:27
3,2017-11-30 23:07:29,2017-12-01 05:58:18,79%,NaN,NaN,0,4778,410.0,30,11,2017,2017-11-30,23:07,05:58
4,2017-12-01 23:19:21,2017-12-02 05:58:20,77%,NaN,Pole fitness:Worked out,0,7111,398.0,01,12,2017,2017-12-01,23:19,05:58

In [98]:
df=df.drop(['Start'], axis =1)
df=df.drop(['End'], axis =1)
df.head()

,Sleep quality,Wake up,Sleep Notes,Heart rate,Activity (steps),Time in bed in minutes,Day,Month,Year,Date,Bedtime,Woke up
0,62%,NaN,NaN,0,1564,418.0,27,11,2017,2017-11-27,23:11,06:09
1,59%,NaN,Aerial:Worked out,0,8144,388.0,29,11,2017,2017-11-29,00:41,07:09
2,91%,NaN,NaN,0,6707,453.0,29,11,2017,2017-11-29,23:53,07:27
3,79%,NaN,NaN,0,4778,410.0,30,11,2017,2017-11-30,23:07,05:58
4,77%,NaN,Pole fitness:Worked out,0,7111,398.0,01,12,2017,2017-12-01,23:19,05:58

# Remove incomplete data items

In [99]:
#I dont want to analyse data where bits are missing - so I remove rows wherein the heart rate is 0 (not recorded)

df=df[df['Heart rate'] != 0]
df.head()

,Sleep quality,Wake up,Sleep Notes,Heart rate,Activity (steps),Time in bed in minutes,Day,Month,Year,Date,Bedtime,Woke up
5,63%,:|,Away from home:Drinking alcohol,81,10663,498.0,03,12,2017,2017-12-03,00:44,09:02
6,72%,:|,Incense,67,16018,399.0,03,12,2017,2017-12-03,23:17,05:56
7,84%,:|,Stressful day:🙂,81,6064,490.0,04,12,2017,2017-12-04,22:38,06:49
8,83%,:|,Aerial:🙁,89,4378,496.0,05,12,2017,2017-12-05,22:34,06:50
9,74%,:|,Incense,81,3105,450.0,06,12,2017,2017-12-06,23:31,07:01

# Change rating system 

3 is happy :)
2 is ok :|
1 is bad :(

In [100]:
conditions=[df['Wake up'] == ':(', df['Wake up'] == ':|', df['Wake up'] == ':)' ]
choices=[1,2,3]
df['Mood (out of 3)']=np.select(conditions, choices)
df=df.drop(['Wake up'], axis =1)

In [101]:
df.head()

,Sleep quality,Sleep Notes,Heart rate,Activity (steps),Time in bed in minutes,Day,Month,Year,Date,Bedtime,Woke up,Mood (out of 3)
5,63%,Away from home:Drinking alcohol,81,10663,498.0,03,12,2017,2017-12-03,00:44,09:02,2
6,72%,Incense,67,16018,399.0,03,12,2017,2017-12-03,23:17,05:56,2
7,84%,Stressful day:🙂,81,6064,490.0,04,12,2017,2017-12-04,22:38,06:49,2
8,83%,Aerial:🙁,89,4378,496.0,05,12,2017,2017-12-05,22:34,06:50,2
9,74%,Incense,81,3105,450.0,06,12,2017,2017-12-06,23:31,07:01,2

Let's check what type each of these columns are by doing df.info

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 323 entries, 5 to 339
Data columns (total 12 columns):
Sleep quality             323 non-null object
Sleep Notes               225 non-null object
Heart rate                323 non-null int64
Activity (steps)          323 non-null int64
Time in bed in minutes    323 non-null float64
Day                       323 non-null object
Month                     323 non-null object
Year                      323 non-null object
Date                      323 non-null datetime64[ns]
Bedtime                   323 non-null object
Woke up                   323 non-null object
Mood (out of 3)           323 non-null int32
dtypes: datetime64[ns](1), float64(1), int32(1), int64(2), object(7)
memory usage: 31.5+ KB

In [103]:
#Let's change the sleep quality to a float

df['Sleep quality']=df['Sleep quality'].str.replace('%','')
df=df.astype({'Sleep quality' : float})

# Sleep notes

I want to know all the possible sleep notes I have made and create new binary columns for each

In [104]:
#Convert column sleep notes into a list
dfToList = df['Sleep Notes'].tolist()
#Remove duplicates from my list by converting it to a dictionary and back again
mylist = list(dict.fromkeys(dfToList))
#Turn it into a string with ':' as delimiters (since notes are separated with ':' in the document)
string = ':'.join(map(str, mylist))
#Turn it into a list with ':' as delimiters
li = list(string.split(":")) 
#Remove duplicates from my list by converting it to a dictionary and back again
mycleanlist = list(dict.fromkeys(li)) 
mycleanlist.remove('nan')
print(mycleanlist)

['Away from home', 'Drinking alcohol', 'Incense', 'Stressful day', '🙂', 'Aerial', '🙁', 'Pole fitness', 'Worked out', 'Climbing', 'Feeling ill 🤒', 'Swimming ', 'Totm', 'Cycled to work', 'Games night', '🙈', 'Dance', 'Pilates', 'Water workout']

In [105]:
for x in mycleanlist:
    df[x]=df['Sleep Notes'].str.contains(x, na = False)
    df=df.astype({x : int})

In [106]:
df.head()

,Sleep quality,Sleep Notes,Heart rate,Activity (steps),Time in bed in minutes,Day,Month,Year,Date,Bedtime,...,Climbing,Feeling ill 🤒,Swimming,Totm,Cycled to work,Games night,🙈,Dance,Pilates,Water workout
5,63.0,Away from home:Drinking alcohol,81,10663,498.0,03,12,2017,2017-12-03,00:44,...,0,0,0,0,0,0,0,0,0,0
6,72.0,Incense,67,16018,399.0,03,12,2017,2017-12-03,23:17,...,0,0,0,0,0,0,0,0,0,0
7,84.0,Stressful day:🙂,81,6064,490.0,04,12,2017,2017-12-04,22:38,...,0,0,0,0,0,0,0,0,0,0
8,83.0,Aerial:🙁,89,4378,496.0,05,12,2017,2017-12-05,22:34,...,0,0,0,0,0,0,0,0,0,0
9,74.0,Incense,81,3105,450.0,06,12,2017,2017-12-06,23:31,...,0,0,0,0,0,0,0,0,0,0

In [107]:
df.to_csv(r'clean_sleepdata.csv')